/*everything is contained in .App*/
.App {
  text-align: center;
  /* background-color: yellow; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ProviderDirectoryHeader {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  margin: 1em 0 1em 0em;
  justify-content: center;
}

/* container for all the table/form cards */
.ProviderDirectoryContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.ShadowCardRow {
  flex: 1; /*This causes the row to fill the remaining height of the screen*/
}

.ShadowCardCol {
  display: flex;
  flex-direction: column;
}

.ShadowCard {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 1em;
  margin: 1em 0 1em 0;
}

.ProviderListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ProviderList {
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: 1px solid #eee;
}

.ProviderRemoveContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#ProviderRemoveButton {
  margin-top: 1em;
}

.ProviderListHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  text-align: left;
}

#ListGroupCheckbox {
  margin-top: 1em;
  margin-right: 0.5em;
}

.ProviderListItemLeft {
  text-align: left;
}
.ProviderListItemRight {
  text-align: right;
}

.CreateProviderForm {
  text-align: left;
  width: 100%;
}

.CreateProviderForm > * {
  margin-top: 1em;
}

.CreateProviderContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#ProviderListSpinner {
  margin: 0.6em 0em 0em 0.8em;
}

.ProviderSearchSortContainer {
  display: flex;
  flex-direction: row;
}

#ProviderSearchBar {
  margin-right: 1em;
}
